<!DOCTYPE html>
<html lang="en">

<head>
    <title>Term Project</title>
    <script src="../lang/en/en.js"></script>
    <script src="../scripts/script.js"></script>
</head>

<body>
    <h2>Frontend</h2>
    <button onclick="window.location.href='login.html'">Login</button>
    <button onclick="window.location.href='signup.html'">Signup</button>
    <button onclick="window.location.href='transcribe.html'">Transcribe</button>
    <button
        onclick="window.location.href='https://web-translator-j7nv7.ondigitalocean.app/api/doc/'">Documentation</button>


</body>

</html>